.btn {

    border-radius: 5px;
    height: 4rem;
    padding: 1%;
    border: none;
    position: relative;
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    color: white;
    cursor: pointer;

    &:hover {
        color: #6a11cb;
        background: white;
        border: 1px solid #6a11cb;
    }
    &.small{
        border: 2px solid #5ae4ce;
    padding: 7px !important;
    border-radius: 0.6rem;
    }
}

.btn-back {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    margin-top: 20px 0px;
}